<ng-container *ngIf="(regiones$ | async); let regiones;">

    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="pacienteForm" (ngSubmit)="submit()" novalidate>
                <ul>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>nombre</mat-label>
                            <input type="text" formControlName="nombre" required matInput>

                            <mat-error *ngIf="pacienteForm.get('nombre')?.errors?.required">
                                El nombre es <strong>requerido</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>apellidos</mat-label>
                            <input type="text" formControlName="apellidos" required matInput>

                            <mat-error *ngIf="pacienteForm.get('apellidos')?.errors?.required">
                                Los apellidos son <strong>requeridos</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>RUT</mat-label>
                            <input type="text" formControlName="rut" required matInput maxlength="8">

                            <mat-error>
                                El rut es <strong>invalido</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>Digito Verificador</mat-label>
                            <mat-select formControlName="digVerr" required>
                                <mat-option value="{{digVer}}" *ngFor="let num of digVer" [value]="num.name"> {{
                                    num.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="pacienteForm.get('digVerr')?.errors?.required">
                                El digito verificador es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <input type="text" formControlName="direccion" required matInput>

                            <mat-error *ngIf="pacienteForm.get('direccion')?.errors?.required">
                                El rut es <strong>requerido</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>

                        <mat-form-field appearance="fill">
                            <mat-label>Region</mat-label>
                            <mat-select formControlName="region" (selectionChange)="onChange($event.value)" required>
                                <mat-option value="{{regiones}}" *ngFor="let region of regiones"
                                    [value]="region.idregion">
                                    {{ region.nombreRegion }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="pacienteForm.get('region')?.errors?.required">
                                La region es <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>


                    </li>
                    <li>

                        <mat-form-field appearance="fill">
                            <mat-label>Comuna</mat-label>
                            <mat-select formControlName="comuna" required>
                                <mat-option value="{{comunas}}" *ngFor="let comuna of comunasByRegion"
                                    [value]="comuna.idcomuna"> {{ comuna.nombreComuna
                                    }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="pacienteForm.get('comuna')?.errors?.required">
                                La comuna es <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>


                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>email</mat-label>
                            <input type="email" formControlName="email" required matInput>

                            <mat-error *ngIf="pacienteForm.get('email')?.errors?.required">
                                El email es <strong>requerido</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>user</mat-label>
                            <input type="text" formControlName="user" required matInput>

                            <mat-error *ngIf="pacienteForm.get('user')?.errors?.required">
                                El user es <strong>requerido</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>clave</mat-label>
                            <input type="password" formControlName="password" required matInput>

                            <mat-error *ngIf="pacienteForm.get('password')?.errors?.required">
                                La clave es <strong>requerida</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <mat-form-field appearance="fill">
                            <mat-label>confirmacion clave</mat-label>
                            <input type="password" formControlName="confirmacion" required matInput>

                            <mat-error *ngIf="pacienteForm.get('confirmacion')?.errors?.required">
                                La confirmacion de la clave es <strong>requerida</strong>
                            </mat-error>

                        </mat-form-field>

                    </li>
                    <li>
                        <div class="botones">
                            <button type="submit" id="submit" [disabled]="!pacienteForm.valid"
                                mat-raised-button>Crear</button>
                        </div>
                    </li>

                </ul>
            </form>
        </div>
    </div>
</ng-container>