<div class="modal-header">
    <h4 class="modal-title">Cancelar cita</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

</div>

<div class="modal-body">

    <form [formGroup]="cancelForm" class="m-2">

        <div class="form-group">

            <label>Razón</label>
            <textarea formControlName="razon" type="text" class="form-control" maxlength="255"
                placeholder="Razón"> </textarea>

        </div>
        <div class="form-group">
            <label>
            <input type="checkbox" formControlName="accept" id="accept" class="form-check-input">Acepto cancelar la cita
            </label><br>
            <mat-error *ngIf="cancelForm.get('accept')?.errors?.required">
                Aceptar es <strong>requerido</strong>
            </mat-error>
        </div>



    </form>

</div>

<div class="modal-footer">
    <button [disabled]="cancelForm.invalid" type="button" class="btn btn-outline-dark"
        (click)="onClickAccept(); activeModal.close('Close click')">Aceptar</button>
</div>